<a href="https://colab.research.google.com/github/Arjun9747/collab/blob/master/Topgear.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [19]:
num1= float(input("Enter first number:"))
num2 = float(input("Enter second number:"))

print(num1+num2)

add = num1+num2
multi = num1* num2
sub= num1- num2
div= num1/num2

print("Multiplication",multi)

print("Addition" ,add)
print("Subtraction" ,sub)
print("Divison" ,div)

Enter first number:4
Enter second number:2
6.0
Multiplication 8.0
Addition 6.0
Subtraction 2.0
Divison 2.0

In [22]:
a = int(input("Enter a value for A:"))
b = int(input("Enter a value for B:"))
c = int(input("Enter a value for C:"))

if a > b and a > c:
  print("A is biggest number")
elif b > a and b > c:
  print("B is the biggest number")
elif c> a and c> b:
  print("C is the biggest number")

Enter a value for A:34
Enter a value for B:543
Enter a value for C:2
B is the biggest number

In [24]:
a= int(input("Enter a value for A:"))

if a%2 ==0:
  print("Value is Even!")
else:
  print("Value is Odd!")

Enter a value for A:22
Value is Even!

In [37]:
num = int(input("Enter your value"))

if num >1:
  for i in range(2,num):
    if num% i ==0:
      print(num,"is Not Prime Number")
      break
  else:
    print(num,"is a prime Number")

Enter your value7
7 is a prime Number

In [38]:
string= input("Enter your string:")

for i in string:
  print(i)

Enter your string:Arjun
A
r
j
u
n

In [40]:
string= input("Enter your string value: ")

print(string[4:])

Enter your string value: television
vision

In [41]:
string= input("Enter your string value: ")

for i in range(101):
  print(string)

Enter your string value: hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello

In [44]:
string1= input("Enter the first string: ")
string2= input("Enter the second string: ")

print(string1 + " " +string2)

Enter the first string: Hello
Enter the second string: Arjun
Hello Arjun

In [50]:
list1= [34,32,23,11,90,4,12,55,77]

list2=['Arjun']* 4
print(list2)

print(list1)
print(list1[1:4])

print(list1+list2)

['Arjun', 'Arjun', 'Arjun', 'Arjun']
[34, 32, 23, 11, 90, 4, 12, 55, 77]
[32, 23, 11]
[34, 32, 23, 11, 90, 4, 12, 55, 77, 'Arjun', 'Arjun', 'Arjun', 'Arjun']

In [60]:
tup1= ('Python','Java','Ruby','C#','Cobol','Perl')
print(tup1)
print(tup1[1:5])
tup2=("arjun",)*3
print(tup2)
print(tup1+tup2)

('Python', 'Java', 'Ruby', 'C#', 'Cobol', 'Perl')
('Java', 'Ruby', 'C#', 'Cobol')
('arjun', 'arjun', 'arjun')
('Python', 'Java', 'Ruby', 'C#', 'Cobol', 'Perl', 'arjun', 'arjun', 'arjun')