<a href="https://colab.research.google.com/github/Arjun9747/collab/blob/master/Topgear.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [19]:
num1= float(input("Enter first number:"))
num2 = float(input("Enter second number:"))

print(num1+num2)

add = num1+num2
multi = num1* num2
sub= num1- num2
div= num1/num2

print("Multiplication",multi)

print("Addition" ,add)
print("Subtraction" ,sub)
print("Divison" ,div)

Enter first number:4
Enter second number:2
6.0
Multiplication 8.0
Addition 6.0
Subtraction 2.0
Divison 2.0

In [22]:
a = int(input("Enter a value for A:"))
b = int(input("Enter a value for B:"))
c = int(input("Enter a value for C:"))

if a > b and a > c:
  print("A is biggest number")
elif b > a and b > c:
  print("B is the biggest number")
elif c> a and c> b:
  print("C is the biggest number")

Enter a value for A:34
Enter a value for B:543
Enter a value for C:2
B is the biggest number

In [24]:
a= int(input("Enter a value for A:"))

if a%2 ==0:
  print("Value is Even!")
else:
  print("Value is Odd!")

Enter a value for A:22
Value is Even!

In [37]:
num = int(input("Enter your value"))

if num >1:
  for i in range(2,num):
    if num% i ==0:
      print(num,"is Not Prime Number")
      break
  else:
    print(num,"is a prime Number")

Enter your value7
7 is a prime Number

In [38]:
string= input("Enter your string:")

for i in string:
  print(i)

Enter your string:Arjun
A
r
j
u
n

In [40]:
string= input("Enter your string value: ")

print(string[4:])

Enter your string value: television
vision

In [41]:
string= input("Enter your string value: ")

for i in range(101):
  print(string)

Enter your string value: hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello

In [44]:
string1= input("Enter the first string: ")
string2= input("Enter the second string: ")

print(string1 + " " +string2)

Enter the first string: Hello
Enter the second string: Arjun
Hello Arjun

In [50]:
list1= [34,32,23,11,90,4,12,55,77]

list2=['Arjun']* 4
print(list2)

print(list1)
print(list1[1:4])

print(list1+list2)

['Arjun', 'Arjun', 'Arjun', 'Arjun']
[34, 32, 23, 11, 90, 4, 12, 55, 77]
[32, 23, 11]
[34, 32, 23, 11, 90, 4, 12, 55, 77, 'Arjun', 'Arjun', 'Arjun', 'Arjun']

In [60]:
tup1= ('Python','Java','Ruby','C#','Cobol','Perl')
print(tup1)
print(tup1[1:5])
tup2=("arjun",)*3
print(tup2)
print(tup1+tup2)

('Python', 'Java', 'Ruby', 'C#', 'Cobol', 'Perl')
('Java', 'Ruby', 'C#', 'Cobol')
('arjun', 'arjun', 'arjun')
('Python', 'Java', 'Ruby', 'C#', 'Cobol', 'Perl', 'arjun', 'arjun', 'arjun')

In [10]:
com1= 9 + 3j
com2=3 + 4j

com_add= com1+com2
print("Addition", com_add)

com_sub= com1 - com2
print("Substraction", com_sub)

com_mult = com1 * com2
print("Multiplication", com_mult)

com_div = com1/ com2
print("Division", com_div)

Addition (12+7j)
Substraction (6-1j)
Multiplication (15+45j)
Division (1.56-1.08j)

In [17]:
a= 100
a+=10
print("Value of A after additon", a)

b = 100
b-=10
print("Value of B after Substraction", b)

c = 100
c*=2
print("Value of C after multiplication", c)

d = 100
d/=5
print("Value of D after divison",d)

e= 100
e %=3
print("Value of E after Modulus", e)

f = 10
f**=5
print("Value of F after exponent operation",f)

Value of A after additon 110
Value of B after Substraction 90
Value of C after multiplication 200
Value of D after divison 20.0
Value of E after Modulus 1
Value of F after exponent operation 100000

In [25]:
a= 51
b= 18
c=0

c = a & b
print("C after AND opeartion", c)

c= a| b
print("C after OR operation", c)

c=a^b
print("C after XOR opeartion", c)

c= ~c
print("C after compliment", c)

c= a <<2
print("C after binary left shift", c)

c= a >>2
print("C after binary left shift", c)

C after AND opeartion 18
C after OR operation 51
C after XOR opeartion 33
C after compliment -34
C after binary left shift 204
C after binary left shift 12

In [51]:
sum=0

for i in range(3):
  nums=[]
  nums = int(input("Enter the value"))
  
  sum+=nums

print(nums)

avg= sum/3

print("Average ",avg)

Enter the value23
Enter the value21
Enter the value9
9
Average  17.666666666666668

In [96]:
numberList = []

sum=0
avg=0


for i in range(10):
    print("Enter number at location", i, ":")
    item = int(input())
    numberList.append(item)
    sum+=item

avg=sum/10
print("Average ",avg)


avg_grt=[]
avg_less=[]
avg_equal=[]


for i  in numberList:
  
   if i > avg:
      avg_grt.append(i)
   elif i < avg:
     avg_less.append(i)
   else:
     avg_equals.append(i)



#print(avg_list)
print("Number greater than average is ",avg_grt)
print("Number less than average is ",avg_less)
print("Number equal to  average is ",avg_equal)

Enter number at location 0 :
23
Enter number at location 1 :
32
Enter number at location 2 :
12
Enter number at location 3 :
21
Enter number at location 4 :
34
Enter number at location 5 :
33
Enter number at location 6 :
43
Enter number at location 7 :
45
Enter number at location 8 :
54
Enter number at location 9 :
56
Average  35.3
Number greater than average is  [43, 45, 54, 56]
Number less than average is  [23, 32, 12, 21, 34, 33]
Number equal to  average is  []

In [116]:
a = int(input("Enter the value of A:"))
b = int(input("Enter the value of B:"))
c = int(input("Enter the value of C:"))
d = int(input("Enter the value of D:"))

if a > b and a >c and a >d:
  print("A is greater Number")
elif b> a and b> c and b > d:
  print("B is greater Number")
elif c> a and c> b and c > d:
  print("C is greates Number")
elif d> a and d> c and d> c:
  print("D is greater Number")
else:
  print("All numbers are equal")

Enter the value of A:22
Enter the value of B:22
Enter the value of C:22
Enter the value of D:22
All numbers are equal

In [158]:
A = [10,20,30,40,50,60,70,80,90,110]
B=["Albert","Brain","Charles","Derik","Edward","Franco","Gerad","Henry","Irwin","Jack"]

#Print all names on to screen
print("All Names on the screen",B)

#Read the index from the  user and print the corresponding name from both list
emp_id= int(input("Enter index to search:"))

if A[emp_id]:
  print("Value at searched index is ",A[emp_id])
else:
  print("Not Found")

#Print the names from 4th position to 9th position
print("Names from 4th psotion to 9th psotion is: ",B[4:9])

#Print all names from 3rd position till end of the list
print("Name at 3rd postion till end is ",A[3:])

#Repeat list elements by specified number of times (N- times, where N is entered by user)
r= int(input("Enter the no of times you want list to repeat"))
print("Repeated list is : ")
print(r*A)

#Concatenate two lists and print the output
list3= A+ B
print("Concatenated List: ",list3)

#Print element of list A and B side by side.(i.e. List-A First element, List-B First element )
details = dict(zip(A,B))
print("Mapping of both list: ",details)

All Names on the screen ['Albert', 'Brain', 'Charles', 'Derik', 'Edward', 'Franco', 'Gerad', 'Henry', 'Irwin', 'Jack']
Enter index to search:2
Value at searched index is  30
Names from 4th psotion to 9th psotion is:  ['Edward', 'Franco', 'Gerad', 'Henry', 'Irwin']
Name at 3rd postion till end is  [40, 50, 60, 70, 80, 90, 110]
Enter the no of times you want list to repeat2
Repeated list is :
[10, 20, 30, 40, 50, 60, 70, 80, 90, 110, 10, 20, 30, 40, 50, 60, 70, 80, 90, 110]
Concatenated List:  [10, 20, 30, 40, 50, 60, 70, 80, 90, 110, 'Albert', 'Brain', 'Charles', 'Derik', 'Edward', 'Franco', 'Gerad', 'Henry', 'Irwin', 'Jack']
Mapping of both list:  {10: 'Albert', 20: 'Brain', 30: 'Charles', 40: 'Derik', 50: 'Edward', 60: 'Franco', 70: 'Gerad', 80: 'Henry', 90: 'Irwin', 110: 'Jack'}

In [150]:
a= [4,5,6,7]
i = int(input("Enter the no of times you want list to repeat: "))

print(i*a)

Enter the no of times you want list to repeat: 2
[4, 5, 6, 7, 4, 5, 6, 7]